<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<!-- 
	      ApplicationContext context=new ClassPathXmlApplicationContext("movie-service-dao.xml");
		  IMovieService movieService=(IMovieService)context.getBean("MovieService");
	      ApplicationRootWebContextContainer
	     /WEB-INF/applicationContext.xml
	 -->
	
	<listener>
		 <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 
	@WebServlet("/addDollar")
	jocker is name given to the servlet
	DispatcherServlet - one container is manage/created by dispatcher Servlet
	Web Application Context Container
	 -->
	<servlet>
		<servlet-name>jocker</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jocker</servlet-name>
		<url-pattern>/</url-pattern>	<!-- / slash means all requests come here -->
	</servlet-mapping>
	

</web-app>